.document {
  border: 1px solid black;
  text-align: center;
  padding: 1em;
}

.error_message {
  color: red;
}

.searchLink, .validate_btn {
  background-color: #007bff;
  height: 2em;
  text-align: center;
  text-decoration: none;
}
.searchLink:hover, .validate_btn:hover {
  background-color: #66b0ff;
}

@media (min-width: 0px) and (max-width: 600px) {
  .catalogue {
    width: 100%;
  }

  .document:not(:first-of-type) {
    margin-top: 1em;
  }

  .searchLink {
    display: block;
    margin-bottom: 1em;
  }

  #login_form {
    border: 1px solid black;
    padding: 1em;
  }
  #login_form input {
    width: 100%;
    margin-top: 1em;
  }

  #sectionImg {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1.6%;
  }
  #sectionImg picture {
    grid-column: 4/10;
  }

  #titreDoc {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1.6%;
  }
  #titreDoc h1 {
    grid-column: 2/12;
    border: 1px solid black;
    text-align: center;
    background-color: grey;
  }

  #detailDoc {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1.6%;
    grid-column: 1/13;
  }
  #detailDoc #titre {
    grid-column: 1/13;
    text-decoration: underline;
  }
  #detailDoc #descriprion {
    grid-column: 1/13;
  }
  #detailDoc #type, #detailDoc #genre, #detailDoc #dispo {
    grid-column: 1/13;
    font-size: small;
  }
  #detailDoc #type {
    margin-top: 2em;
  }
}
@media (min-width: 600px) and (max-width: 992px) {
  .catalogue {
    display: grid;
    width: 60%;
    margin-left: 20%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.6%;
  }
  .catalogue .searchLink {
    grid-column: 1/3;
    justify-self: center;
    width: 33%;
  }

  #login_form {
    border: 1px solid black;
    width: 40%;
    margin-left: 30%;
    margin-right: auto;
  }
  #login_form div:not(:last-of-type) {
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.6%;
  }
  #login_form div:not(:last-of-type) label {
    grid-column: 1/2;
  }
  #login_form div:not(:last-of-type) input {
    grid-column: 2/3;
  }
  #login_form div:last-of-type {
    padding: 1em;
  }
  #login_form div:last-of-type input {
    grid-column: 1/3;
    width: 100%;
  }

  #articleDoc {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1.6%;
  }
  #articleDoc #titreDoc {
    grid-column: 4/10;
    margin-top: 5em;
    border: 1px solid black;
    text-align: center;
    background-color: grey;
  }
  #articleDoc #titre {
    text-decoration: underline;
  }
  #articleDoc #detailDoc {
    grid-column: 4/13;
    margin-top: 5em;
  }
  #articleDoc #sectionImg {
    margin-top: 5em;
    grid-column: 1/3;
  }
  #articleDoc #type {
    margin-top: 5em;
  }
  #articleDoc #imageDoc {
    grid-column: 1/3;
  }
}
@media (min-width: 992px) {
  .catalogue {
    display: grid;
    width: 60%;
    margin-left: 20%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.6%;
  }
  .catalogue .searchLink {
    grid-column: 1/4;
    justify-self: right;
    width: 20%;
  }

  #login_form {
    border: 1px solid black;
    width: 30%;
    margin-left: 40%;
    margin-right: auto;
  }
  #login_form div:not(:last-of-type) {
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.6%;
  }
  #login_form div:not(:last-of-type) label {
    grid-column: 1/2;
  }
  #login_form div:not(:last-of-type) input {
    grid-column: 2/3;
  }
  #login_form div:last-of-type {
    padding: 1em;
  }
  #login_form div:last-of-type input {
    grid-column: 1/3;
    width: 100%;
  }

  #articleDoc {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1.6%;
  }
  #articleDoc #titreDoc {
    grid-column: 3/5;
    margin-top: 5em;
    border: 1px solid black;
    text-align: center;
    background-color: grey;
  }
  #articleDoc #titre {
    text-decoration: underline;
    font-size: larger;
  }
  #articleDoc #sectionImg {
    grid-column: 2/3;
  }
  #articleDoc #detailDoc {
    grid-column: 3/7;
    margin-top: 5em;
  }
  #articleDoc #type {
    margin-top: 5em;
    font-size: medium;
  }
  #articleDoc #genre, #articleDoc #dispo {
    margin-top: 0.5em;
    font-size: medium;
  }
}

/*# sourceMappingURL=G_cssGrid.css.map */
